.banner {
    background-color: royalblue;
    width: 100%;
    height: 100px;
}

.navigation {
    background-color: skyblue;
    width: 100%;
    height: 50px;
    margin-top: 7px;   
}

.content {
    background-color: springgreen;
    width: 100%;
    height: 200px;
    margin-top: 12px;
}

.items {
    @include items-flex();
}

.item_1 {
    @include items();
}

.item_2 {
    @include items();
}

.item_3 {
    @include items();
}

.item_1 , .item_2{
    margin-right: 40px;
}

.item_1:hover , .item_2:hover , .item_3:hover{
    background-color: violet;
    box-shadow: 1px 5px 4px 5px #cacaca;
    border-radius: 15px;
}


.pic {
    background-color: white;
    width: 80%;
    height: 200px;
    margin-top: 20px;
}


.footer {
    @include footer-height(150px);
    @include footer-color(rgb(255, 166, 0));
}


